header.navbar.navbar-default.navbar-static-top(role='navigation')
  .container
    //
       Brand and toggle get grouped for better mobile display 
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') <strong>Balance</strong>TonRIB
    //
       Collect the nav links, forms, and other content for toggling 
    nav
      if (user)
        if (friends)
          form.navbar-form.navbar-left(role='search')
            select#friends.form-control(placeholder='Chercher le RIB d\'un(e) ami(e)...')
              each friend in friends
                option
                  option(value=friend.uid, data-data='{ "pic": "#{friend.pic_square}", "mutual_friend_count": "#{friend.mutual_friend_count}" }') #{friend.name}
        ul.nav.navbar-nav.navbar-right.collapse.navbar-collapse
          li: a(href='/ribs/add') Ajouter un RIB
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              +picture(user.facebook,30,30)(class='navbar-picture', alt=user.profile.name)
              | #{user.profile.name}&nbsp;
              i.caret
            ul.dropdown-menu
              li: a(href='/u/#{user.facebook}') Mon compte
              li.divider
              li: a(href='/logout') Logout
    //
       /.navbar-collapse 
  //
     /.container-fluid 
