extends layouts/main

block content

  form#form-add-rib(role='form', method='POST', action='/ribs')
    h1 Ajouter un RIB
    input(type='hidden', name='_csrf', value=_csrf)
    div.form-group
      label(for='iban') IBAN
      input.form-control(
        type='text',
        id='iban',
        name='iban',
        value=(rib && rib.iban)
      )
    div.form-group
      label(for='bic') Code BIC/SWIFT
      input.form-control(
        type='text',
        id='bic',
        name='bic',
        value=(rib && rib.bic)
      )
    div
      button.btn.btn-primary.btn-block(type='submit') Valider
      a(href='https://www.gandi.net/ssl/secured/balancetonrib.com/52810/6be402b7aa', target='_blank')
        img(src='/images/GANDI_SSL2.png', alt='Sécurisé par Gandi SSL')

  .text-center
    small.
      Par mesure de sécurité, votre RIB ne sera accessible qu'à vos amis
      Facebook.
      <br>
      Rassurez-vous, une vérification algorithmique est effectuée pour
      valider que
      vous n'avez pas fait de faute de frappe dans l'IBAN.
