extends layouts/main

block content

  form#form-add-rib(role='form', method='POST', action='/ribs')
    h1 Ajouter un RIB
    input(type='hidden', name='_csrf', value=csrf)
    div.form-group
      label(for='bank') Code banque (5 chiffres)
      input.form-control(type='text', id='bank', name='bank',
      maxlength='5')
    div.form-group
      label(for='counter') Code guichet (5 chiffres)
      input.form-control(type='text', id='counter', name='counter',
      maxlength='5')
    div.form-group
      label(for='accountNumber') Numéro de compte (11 chiffres/lettres)
      input.form-control(type='text', id='accountNumber',
      name='accountNumber', maxlength='11')
    div.form-group
      label(for='key') Clé RIB (2 chiffres)
      input.form-control(type='text', id='key', name='key',
      maxlength='2')
    div
      button.btn.btn-primary.btn-block(type='submit') Valider

  .text-center
    small.
      Par mesure de sécurité, votre RIB ne sera accessible qu'à vos amis
      Facebook. Le RIB n'est pas un document sensible, le pire qui puisse vous arriver est de recevoir de l'argent par erreur.
