extends layouts/main

block content

  form#form-add-rib(role='form', method='POST', action='/ribs')
    h1 Ajouter un RIB
    input(type='hidden', name='_csrf', value=_csrf)
    div.form-group
      label(for='iban') IBAN <small>(requis)</small>
      input.form-control(
        type='text',
        id='iban',
        name='iban',
        value=(rib && rib.iban)
      )
      p.help-block Votre IBAN se trouve sur votre relevé de compte
    div.form-group
      label(for='bic') BIC/SWIFT <small>(optionnel, mais recommandé)</small>
      input.form-control(
        type='text',
        id='bic',
        name='bic',
        value=(rib && rib.bic)
      )
    div.form-group
      label(for='name') Donnez-lui un nom
      input.form-control(
        type='text',
        id='name',
        name='name',
        value=(rib && rib.name),
        placeholder='Par example, le nom de votre banque'
      )
    if (user.hasRib > 0)
      div.checkbox
        label(for='main')
          |RIB principal ?
          input(
            type='checkbox',
            id='main',
            name='main',
            value=(rib && rib.main)
          )
    div
      button.btn.btn-primary.btn-block(type='submit') Valider
      a(href='https://www.gandi.net/ssl/secured/balancetonrib.com/52810/6be402b7aa', target='_blank')
        img.center-block.gandi-lock(src='/images/GANDI_SSL2.png', alt='Sécurisé par Gandi SSL')

  .text-center
    small.
      Rassurez-vous, une vérification algorithmique est effectuée pour valider que vous n'avez pas fait de faute de frappe dans l'IBAN.
      <br>
      Par mesure de sécurité, votre RIB ne sera accessible qu'à vos amis Facebook.
