extends layouts/main

block content

  form#form-add-rib(role='form', method='POST', action='/ribs')
    h1 Ajouter un RIB
    input(type='hidden', name='_csrf', value=_csrf)
    div.form-group
      label(for='iban') IBAN
      input.form-control(
        type='text',
        id='iban',
        name='iban',
        value=(rib && rib.iban)
      )
    div.form-group
      label(for='bic') Code BIC/SWIFT
      input.form-control(
        type='text',
        id='bic',
        name='bic',
        value=(rib && rib.bic)
      )
    div
      button.btn.btn-primary.btn-block(type='submit') Valider

  .text-center
    small.
      Par mesure de sécurité, votre RIB ne sera accessible qu'à vos amis
      Facebook.
      Rassurez-vous, une vérification algorithmique est effectuée pour vérifier que
      vous n'avez pas fait d'erreur.
