extends layouts/main

block content
  .wrap

    section
      .container
        .row
          .col-sm-8
            if (ribs)
              h2 Vos RIB
              .rib
                ul.nav.nav-tabs
                  each rib, i in ribs
                    li(class=i===0?'active':'')
                      a(href='##{rib.iban}', data-toggle='tab')
                        !=rib.name
                        span(class='flag-icon flag-icon-'+rib.country.toLowerCase())
                .tab-content
                  each rib, i in ribs
                    div(class=i===0?'tab-pane active':'tab-pane', id=rib.iban)
                      include includes/rib
            else
              h2 Vous n'avez pas encore ajouté votre RIB
              div
                a.btn.btn-primary(href='/ribs/add') Ajouter un RIB

          if (friendsWithRib && friendsWithRib.length > 0)
            .col-sm-4
              h3 Quelques RIBs déjà renseignés
              .friendsWithRib
                  each friend in friendsWithRib
                    div
                      +picture(friend.facebook, 50, 50)(class='list-picture', alt=friend.profile.name)
                      a.list-name(href='/u/#{friend.facebook}')= friend.profile.name
