extends layouts/main

block content
  .wrap
    section
      .container
        .row
          .col-sm-4
            .user
              +picture(friend.uid, 200, 200)(class='profile-picture hidden-xs',
              alt=friend.name)
              h2= friend.name
          .col-sm-8
            .ribs
              if (ribs.length > 0)
                h1 RIB
                .rib
                  each rib in ribs
                    include includes/rib
                    if (me)
                      a(href='/ribs/delete/#{rib._id}') Supprimer
              else
                h1 Pas de RIB, c'est balo.
                div
                  if (me)
                    a.btn.btn-primary(href='/ribs/add') Ajouter un RIB
                  else
                    p.
                      <strong>Envoyez</strong> rapidement un petit email ou message Facebook à
                      <strong>#{friend.name}</strong> pour l'inviter à
                      <strong>renseigner son RIB</strong> sur <a
                        href="#{config.secureSiteOrigin}">#{config.secureSiteOrigin}</a>
                    p Il est important que l'invitation vienne de vous:
                      ul
                        li Parce que vous êtes le/la mieux placé(e) pour assurer à votre ami que votre demande est 100% légitime
                        li Parce que cela réduit le risque de finir dans le dossier spam de votre ami
